<mat-grid-list cols="1" *ngIf = "isLoaded">
    <mat-card class="dashboard-card">
        
    <mat-card-title>Статистика по задачам</mat-card-title>
        <img mat-card-image src="./assets/images/stats-big.jpg">

        <mat-card-content>
            <p>
            Здесь вы можете узнать всю статистику по вашим задачам.
            </p>
            <mat-card-title>Всего задач: <b>{{statistics.all}}</b></mat-card-title>
            <mat-card-title>Выполненых задач: <b>{{statistics.completed}}</b></mat-card-title>
            <mat-card-title>Задач в процессе: <b>{{statistics.uncompleted}}</b></mat-card-title>
            <mat-card-title>Срочных задач: <b>{{statistics.urgent}}</b></mat-card-title>
        </mat-card-content>
        <mat-card-actions>
            <button [routerLink]="'/task'" mat-button>Вернуться к списку задач</button>
        </mat-card-actions>
        
    </mat-card>
</mat-grid-list>

<mat-grid-list cols="1" *ngIf = "!isLoaded">
     <mat-card class="loading-card">
        <img class="loading" src="./assets/images/loading.gif">
     </mat-card>
</mat-grid-list>